[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
telegram = {ref = "master",git = "https://github.com/dominicparga/telegram-bot-api.git",editable = true}
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
